extends layout

append head
    title #{product.name}

block content
    h1(class="mb-3") #{product.name}
    p #{product.description}
    p #{product.price} Euro
    form(action="/cart" method="POST")
        input(type="text" class="d-none" value=product.id name="productId")
        div(class="input-group" style="width: 30%")
            input(type="number" class="form-control" value=1 min=0 name="count")
            button(type="submit" class="btn btn-sm btn-primary") In den Warenkorb